body {
  margin: 0;
  color: #111;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  position: relative;
}

.page {
  padding-top: 47px;
  background: #fff;
  margin: 0 auto;
  overflow-x: hidden;

}

a {
  color: #42bd56;
  text-decoration: none;
}

h2 {
  color: #aaa;
  margin: 0 0 15px;
  font-size: 15px;
}

.card {
  margin: 0 18px;

  h1 {
    margin: 30px 0 5px;
    font-size: 24px;
    line-height: 32px;
    word-break: break-all;
    font-weight: normal;
  }
}

.subjectInfo {
  position: relative;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;

  .left {
    padding-bottom: 30px;
    margin-right: 100px;

    P {
      font-size: 15px;
      color: #494949;
    }

    .rating {
      line-height: 18px;

      strong {
        font-weight: normal;
        color: #494949;
        padding-right: 8px;
      }

      span {
        color: #aaa;
      }
    }

    .meta {
      color: #494949;
      margin-top: 15px;
      padding-right: 24px;
      font-size: 14px;
      line-height: 1.6;
    }
  }

  .ratingStars {
    .ratingStar {
      width: 13px;
      height: 13px;
      background-size: 13px 13px;
      display: inline-block;
      margin-right: 1px;
      background-color: transparent;
      background-repeat: no-repeat;
    }

    .ratingStarMediumFull {
      background-image: url(../../assets/xinaction.png);
    }

    .ratingStarMediumGray {
      background-image: url(../../assets/xin.png);
    }
  }

  .right {
    float: right;

    img {
      width: 100px;
    }
  }
}

section {
  margin-bottom: 30px;

  p,
  h3 {
    line-height: 22px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
  }
}

.subjectMark {
  .markItem {
    margin-bottom: 30px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
  }

  a {
    height: 30px;
    line-height: 30px;
    display: block;
    border: 1px solid #ffb712;
    border-radius: 3px;
    margin-right: 10px;
    color: #ffb712;
    font-size: 15px;
    text-align: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
}

.items {
  font-size: 0;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.itemCelebrity:first-child {
  margin-left: 0;
}

.items>* {
  white-space: normal;
}

.itemPoster:before {
  content: "";
  float: left;
  margin-top: 142.85714%;
}

.itemPoster {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.itemCelebrity .itemTitle {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  font-size: 14px;
  line-height: 1.5;
  white-space: normal;
  text-align: center;
  color: #494949;
  margin-top: 8px;
}

.itemCelebrity .itemTitle.role {
  color: #aaa;
}

.item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin-left: 0.48rem;
}

.itemCelebrity {
  font-size: 14px;
  width: 75px;
}

.subjectIntro {
  .bd {
    font-size: 15px;
    color: #494949;
  }
}

.subjectComments {

  .list {
    margin-right: -18px;

    li:first-child {
      padding-top: 0;
    }

    li {
      position: relative;
      padding: 15px 18px 15px 0;
      word-wrap: break-word;
      overflow: hidden;

      .desc {
        font-size: 0;
        line-height: normal;
        margin: 0 0 11px;
        color: #494949;
        position: relative;

        a {
          display: inline;
          overflow: hidden;
          text-decoration: none;
          color: #494949;
        }

        .userInfo {
          margin-left: 40px;
        }

        strong {
          font-size: 15px;
          display: inline-block;
          vertical-align: text-top;
          margin-right: 6px;
        }

        .ratingStars {
          font-size: 15px;
          vertical-align: text-top;
          display: inline-block;
        }

        .date {
          margin-top: 6px;
          font-size: 12px;
          color: #aaa;
        }
      }

      p {
        padding: 0 0 0 40px;
        line-height: 22px;
        color: #494949;
        white-space: pre-wrap;
        word-wrap: break-word;
        margin: 0;
        font-size: 15px;
      }

      .btnInfo {
        height: 22px;
        margin: 10px 0 0 40px;
      }

      .icBtn {
        display: inline-block;
        margin-right: 20px;
        font-size: 14px;
        cursor: pointer;

        .text {
          color: #ccc;
          margin-left: 3px;
          position: relative;
          left: 0;
          top: -3px;
        }
      }

      .icBtn::before {
        content: '';
        width: 20px;
        height: 20px;
        background-position: center center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-bottom: -2px;
      }

      .icBtnLike::before {
        background-image: url(../../assets/ic_like_gray.svg);
      }

      .icBtnMore::before {
        background-image: url(../../assets/more.svg);
      }

      .icBtn.left {
        float: left;
      }

      .icBtn.right {
        float: right;
      }

    }
  }
}

.commentList li .desc img,
.commentList li .desc .avatar {
  width: 36px;
  border-radius: 50%;
  vertical-align: text-top;
  margin-right: 10px;
  float: left;
}

.ratingStarMediumFull,
.ratingStarMediumHalf,
.ratingStarMediumGray {
  width: 13px;
  height: 13px;
  background-size: 13px 13px;
}

.ratingStars .ratingStar {
  display: inline-block;
  margin-right: 1px;
  background-color: transparent;
  background-repeat: no-repeat;
}

.ratingStarMediumFull {
  background-image: url(../../assets/xinaction.png);
}

.ratingStarMediumGray {
  background-image: url(../../assets/xin.png);
}

.subjectPics {
  h2 {
    font-size: 0;

    span {
      font-size: 15px;
    }
  }

  .photoList {
    position: relative;
    height: 120px;
    margin-left: -18px;

    ul {
      word-break: keep-all;
      white-space: nowrap;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      width: auto;
      position: absolute;
      left: 0;
      right: -18px;
      padding-bottom: 20px;

      li:first-child {
        margin-left: 18px;
      }

      .video {
        width: 213.33333px;
        overflow: hidden;
        background-size: 100%;

        .time {
          color: #fff;
          position: absolute;
          right: 6px;
          bottom: 4px;
          font-size: 11px;
        }

        a {
          display: block;
          height: 100%;
          color: #fff;
          position: relative;
        }
      }

      .span {
        position: absolute;
        width: 0;
        height: 0;
        left: 50%;
        top: 50%;

        img {
          height: 42px;
          width: 42px;
          display: inline-block;
          margin: -21px 0 0 -21px;
        }
      }
    }

    li {
      margin: 0;
      height: 120px;
      overflow: hidden;
      display: inline-block;
      margin: 0 2px;

      img {
        height: 100%;
        display: block;
      }
    }
  }
}

.movieGallery {
  font-size: 16px;
  vertical-align: top;
  display: inline-block;
  margin-left: -18px;

  li {
    background: #E8E8E8;
    width: 200px;
    line-height: 120px;
  }

  a {
    text-align: center;
    width: 60%;
    white-space: normal;
    word-break: break-all;
  }

  span {
    display: inline-block;
  }
}

.videoTrailer,
.videoComment {
  position: relative;
}

.videoTrailer:after,
.videoComment:after {
  content: "预告片";
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
  background-color: #E48F1F;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  border-radius: 2px;
}

.subjectReviews {
  .list {
    margin-right: -18px;

    a {
      display: block;
      overflow: hidden;
      text-decoration: none;
      color: #494949;
    }

    li {
        position: relative;
        padding: 15px 18px 15px 0;
        word-wrap: break-word;
        overflow: hidden;
      h3 {
        color: #494949;
        font-weight: 500;
        font-size: 17px;
        line-height: 1.41;
        margin-bottom: 6px;
      }

      .username {
        color: #494949;
      }

      .abstract {
        line-height: 1.5;
        font-size: 12px;
        color: #aaaaaa;
        margin-top: 5px;
        text-indent: 2em;
      }

      .info {
        line-height: 1;
        font-size: 12px;
        color: #aaaaaa;
        margin-top: 10px;
      }
    }

    .ratingStars {
      font-size: 12px;
      vertical-align: text-top;
      display: inline-block;
    }

    .ratingStarMediumFull,
    .ratingStarMediumGray {
      width: 12px;
      height: 12px;
    }

  }
}

.subjectReviews .list li,
.reviewList .list li {
  padding-top: 10px;
}

.subjectReviews .list li:first-child,
.reviewList .list li:first-child {
  padding-top: 0;
}
